// Libraries for the LESS
@import "variables";

//############### Version for a PK
select, input, label {
    cursor: pointer;
}

form {
    select, input {
        margin: 5px;
        margin-right: 0;
        padding: 5px;
        width: 200px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: @button_color;
        color: #333;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
    
        &:hover {
            .button_hover(@button_color);
        }
    }

    select, input[type="button"] {
        background-image: url('@{path_img}arrow.png');
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    select option {
        background-color: @color_white;
        color: @color_dark;
    }

    // Exclude standard checkboxes for custom style
    input[type="checkbox"] {
        display: none;
    }
}

.details {
    display: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
    // border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

    input[type="checkbox"] + label span {
        position: relative;
        display: inline-block;
        width: 13px !important;
        height: 13px !important;
        margin-right: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
        background-color: #fff !important;
        background-image: none;
        border: 2px solid #2299d4 !important;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + label span {
        background-color: #339933 !important;
        border-color: #339933 !important;

        &::after {
            position: absolute;
            content: "";
            left: 2px;
            top: -2px;
            width: 5px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    label {
        margin-left: 20px;
    }
}

#filter {
    display: flex;
    position: fixed;
    top: 81px;
    left: 0;
    z-index: 10;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        .filterType {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-right: 5px;
            background-color: #fff;
            border-top: 1px solid #ccc;

            &:first-of-type {
                border-top: none;
            }
            &:last-of-type {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .filterName {
                    border-bottom-left-radius: 15px;
                }
            }

            .filterName {
                display: flex;
                align-items: center;
                min-width: 200px;
                height: 50px;
                background-color: #eee;
                margin-bottom: auto;

                .remove {
                    opacity: .2;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin: 10px 20px;
                    background-color: #ff6600;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        transform: rotate(360deg);
                        transition: transform 1s;
                    }

                    &::after, &::before {
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: 8px;
                        content: "";
                        height: 10px;
                        width: 3px;
                        background-color: #fff;
                    }

                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }

                .remove, .caption {
                    font-size: 12px;
                    color: #555;
                }
            }

            .filterCategory {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 660px;
            }
        }
    }
}

// Cover at partCards that change a focus to filter
#overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

// Classes for jQuery -> "filter_action.js"
.mark {
    background-color: @button_mark !important;
    color: @color_white;
    padding: 5px;
}
.activeMark {
    background-color: #1e811e !important;
    padding: 5px;
}
.mark:hover, .activeMark:hover {
    .button_hover(@button_mark);
    padding: 5px;
}
.active, .active:hover {
    .button_active(@button_color);
}
.disabled, .disabled:hover {
    background-color: @button_color;
    opacity: 0.5;
    cursor: not-allowed;
}

//################### Version for a smartphone
@media screen and (max-width: 767px) {
    #filter {
        position: absolute;
        top: 35px;
        z-index: 5;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        form {
            width: 70%;
            align-items: flex-end;
            flex-direction: column;
    
            select, input {
                width: 100%;
                max-width: 100%;
                margin: 5px;
                margin-top: 0;

                &:first-child {
                    margin-top: 5px;
                }
            }
        }
        .filterType {
            flex-direction: column !important;
            border-radius: 0 !important;
            padding-right: 0 !important;

            div {
                width: 100% !important;
                justify-content: flex-start;
            }

            .filterName {
                &:hover {
                    cursor: pointer;
                }
            }
            .filterCategory {
                .details {
                    label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }
    }

    input[type="submit"] {
        display: block !important;
        margin: 0 auto !important;
    }
}
@media screen and (min-width: 768px) {
    .row1 {
        order: 1;
    }
    .row2 {
        order: 3;
    }
    .row3 {
        order: 5;
    }
    .row4 {
        order: 7;
    }
    .row5 {
        order: 9;
    }
    .details:nth-of-type(1), .details:nth-of-type(2), .details:nth-of-type(3) {
        order: 2;
    }
    .details:nth-of-type(4), .details:nth-of-type(5), .details:nth-of-type(6) {
        order: 4;
    }
    .details:nth-of-type(7), .details:nth-of-type(8), .details:nth-of-type(9) {
        order: 6;
    }
    .details:nth-of-type(10), .details:nth-of-type(11), .details:nth-of-type(12) {
        order: 8;
    }
    .details:nth-of-type(13), .details:nth-of-type(14), .details:nth-of-type(15) {
        order: 10;
    }
}