// Libraries for the LESS
@import "variables";

// Version for a PK
select, input, label {
    cursor: pointer;
}

form {
    position: relative;

    select, input {
        margin: 5px;
        margin-right: 0;
        padding: 5px;
        width: 200px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: @button_color;
        color: #333;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
    
        &:hover {
            .button_hover(@button_color);
        }
    }

    select, input[type="button"] {
        background-image: url('../images/arrow.png');
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    select option {
        background-color: @color_white;
        color: @color_dark;
    }

    #apply {
        @keyframes submitStandard {
            0% {
                .box_shadow_white(0.3);
                .background_color_black(0.2);
            }
            50% {
                .box_shadow_white(0.7);
                .background_color_black(0.1);
            }
            100% {
                .box_shadow_white(0.3);
                .background_color_black(0.2);
            }
        }
        @keyframes submitMark {
            0% {
                .box_shadow_white(0.4);
                .background_color_green(1);
            }
            50% {
                .box_shadow_white(0.8);
                .background_color_green(0.7);
            }
            100% {
                .box_shadow_white(0.4);
                .background_color_green(1);
            }
        }
        @keyframes submitBlink {
            0% {
                .box_shadow_white(0.4);
                .background_color_green(1);
            }
            30% {
                .box_shadow_white(0.1, 15px);
                .background_color_green(.7);
            }
            31% {
                .box_shadow_white(0.1, 1px);
                .background_color_green(.7);
            }
            100% {
                .box_shadow_white(0.4);
                .background_color_green(1);
            }
        }

        position: absolute;
        left: 47%;
        bottom: -90px;
        margin: 0 auto;
        margin-top: 25px;
        width: 75px;
        height: 75px;
        background-image: url('../images/search.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 30px;
        border-radius: 50%;
        animation: submitStandard 5s infinite;
    }
}

.details {
    display: none;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 5px;
    margin-left: 5px;

    label {
        margin-left: 20px;
        color: #555;
    }
}
.stateCondition {
    font-size: 18px;
}

#filterArea {
    display: flex;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 9;
    visibility: hidden;
    
    #filter {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    
        .filterType {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            width: 100%;
            min-height: 50px;
            padding-right: 5px;
            background-color: @color_white;
            border-top: 1px solid #DDD;
    
            &:first-of-type {
                border-top: none;
            }
            &:last-of-type {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                overflow: hidden;
    
                .filterName {
                    border-bottom-left-radius: 15px;
                }
            }
    
            .filterName {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                min-height: 50px;
                width: 200px;
                background-color: #EEE;
                margin-bottom: auto;
    
                .remove {
                    opacity: .2;
                    position: relative;
                    min-width: 20px;
                    min-height: 20px;
                    margin: 10px;
                    background-color: @color_orange;
                    border-radius: 50%;
                    cursor: pointer;
    
                    &:hover {
                        transform: rotate(360deg);
                        transition: transform 1s;
                    }
    
                    &::after, &::before {
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: 8px;
                        content: "";
                        height: 10px;
                        width: 3px;
                        background-color: @color_white;
                    }
    
                    &::before {
                        transform: rotate(45deg);
                    }
    
                    &::after {
                        transform: rotate(-45deg);
                    }
                }
    
                .remove, .title {
                    margin: 0 20px;
                    font-size: 12px;
                    color: #555;
                }
            }
    
            .filterCategory {
                margin-left: 200px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                .chooseCondition, .chooseUser {
                    display: flex;
                    flex-direction: row;
                    margin-left: 5px;
                    
                    label {
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

// Version for a smartphone
@media screen and (max-width: 767px) {
    #filterArea {
        position: absolute;
        top: 35px;
        z-index: 5;
        
        article {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        #filter {
            width: 70%;
            align-items: flex-end;
            flex-direction: column;
    
            select, input:not([type=submit]) {
                width: 100%;
                margin: 5px;
                margin-top: 0;

                &:first-child {
                    margin-top: 5px;
                }
            }
        }
        .filterType {
            flex-direction: column !important;
            border-radius: 0 !important;
            padding-right: 0 !important;
            position: static !important;
            min-height: 0 !important;

            &:last-of-type {
                border-radius: 0 !important;
                .filterName {
                    border-radius: 0 !important;
                }
            }

            div {
                width: 100% !important;
                justify-content: flex-start;
            }

            .filterName {
                position: static !important;
                flex-direction: row !important;
                justify-content: flex-start !important;

                .title {
                    margin: 0 !important;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .filterCategory {
                flex-direction: column !important;
                margin: 0 !important;
                padding-right: 10px !important;

                .details {
                    margin-right: 5px;
                    border: none;
                    label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
            }
        }
    }

    #apply {
        position: fixed !important;
        top: 45% !important;
        left: 10% !important;
    }
}

// @media screen and (min-width: 768px) and (max-width: 1246px) {
//     #filterArea {
//         position: absolute !important;
//         z-index: 5;
//     }
// }