@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
select,
input,
label {
  cursor: pointer;
}
form select,
form input {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  width: 200px;
  max-width: 220px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #0b7cb9;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form select:hover,
form input:hover {
  background-color: #0a6ca1;
}
form select,
form input[type="button"] {
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
form select option {
  background-color: #ffffff;
  color: #2b2d42;
}
form input[type="checkbox"] {
  display: none;
}
.details {
  display: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px #021d27;
  border: 1px solid #eee;
  padding: 20px;
  margin: 10px 0;
}
.details input[type="checkbox"] + label span {
  position: relative;
  display: inline-block;
  width: 13px !important;
  height: 13px !important;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #fff !important;
  background-image: none;
  border: 2px solid #00527a !important;
}
.details input[type="checkbox"]:checked + label span {
  background-color: #339933 !important;
  border-color: #339933 !important;
}
.details input[type="checkbox"]:checked + label span::after {
  position: absolute;
  content: "";
  left: 2px;
  top: -2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.details label {
  margin-left: 20px;
}
#filter {
  display: flex;
  position: fixed;
  top: 91px;
  left: 0;
  z-index: 10;
  width: 100%;
}
#filter form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#filter form .filterType {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-right: 5px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
#filter form .filterType:first-of-type {
  border-top: none;
}
#filter form .filterType:last-of-type {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#filter form .filterType:last-of-type .filterName {
  border-bottom-left-radius: 15px;
}
#filter form .filterType .filterName {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  background-color: #eee;
  margin-bottom: auto;
}
#filter form .filterType .filterName .remove {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 10px 20px;
  background-color: #ff6600;
  border-radius: 50%;
  cursor: pointer;
}
#filter form .filterType .filterName .remove:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}
#filter form .filterType .filterName .remove::after,
#filter form .filterType .filterName .remove::before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 8px;
  content: "";
  height: 10px;
  width: 3px;
  background-color: #fff;
}
#filter form .filterType .filterName .remove::before {
  transform: rotate(45deg);
}
#filter form .filterType .filterName .remove::after {
  transform: rotate(-45deg);
}
#filter form .filterType .filterName .remove,
#filter form .filterType .filterName .caption {
  font-size: 12px;
  color: #555;
}
#filter form .filterType .filterCategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 660px;
}
#overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.mark {
  background-color: #318631 !important;
  padding: 5px;
}
.activeMark {
  background-color: #1e811e !important;
  padding: 5px;
}
.mark:hover,
.activeMark:hover {
  background-color: #2a732a;
  padding: 5px;
}
.active {
  background-color: #073148;
}
.active:hover {
  background-color: #003551;
}
.disabled,
.disabled:hover {
  background-color: #0b7cb9;
  opacity: 0.5;
  cursor: not-allowed;
}
@media screen and (max-width: 767px) {
  #filter {
    position: absolute;
    top: 45px;
    z-index: 5;
  }
  #filter article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #filter form {
    width: 70%;
    align-items: flex-end;
    flex-direction: column;
  }
  #filter form select,
  #filter form input {
    width: 100%;
    max-width: 100%;
    margin: 5px;
    margin-top: 0;
  }
  #filter form select:first-child,
  #filter form input:first-child {
    margin-top: 5px;
  }
  #filter .filterType {
    flex-direction: column !important;
    border-radius: 0 !important;
  }
  #filter .filterType div {
    width: 100% !important;
    justify-content: flex-start;
  }
  #filter .filterType .filterName:hover {
    cursor: pointer;
  }
  input[type="submit"] {
    display: block !important;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 768px) {
  .row1 {
    order: 1;
  }
  .row2 {
    order: 3;
  }
  .row3 {
    order: 5;
  }
  .row4 {
    order: 7;
  }
  .row5 {
    order: 9;
  }
  .details:nth-of-type(1),
  .details:nth-of-type(2),
  .details:nth-of-type(3) {
    order: 2;
  }
  .details:nth-of-type(4),
  .details:nth-of-type(5),
  .details:nth-of-type(6) {
    order: 4;
  }
  .details:nth-of-type(7),
  .details:nth-of-type(8),
  .details:nth-of-type(9) {
    order: 6;
  }
  .details:nth-of-type(10),
  .details:nth-of-type(11),
  .details:nth-of-type(12) {
    order: 8;
  }
  .details:nth-of-type(13),
  .details:nth-of-type(14),
  .details:nth-of-type(15) {
    order: 10;
  }
}
