@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
.mark {
  padding: 5px;
  background-color: #499b42;
  color: #ffffff;
}
.activeMark {
  padding: 5px;
  background-color: #41893a !important;
}
.mark:hover,
.activeMark:hover {
  padding: 5px;
  background-color: #41893a !important;
}
.active,
.active:hover {
  background-color: #59aed8;
  color: #ffffff;
}
.disabled,
.disabled:hover {
  background-color: #dddddd;
  opacity: 0.5;
  cursor: not-allowed;
}
body {
  background-color: #eee;
}
body h1 {
  margin: 20px 50px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
form > .formRow {
  display: flex;
  flex-direction: row;
}
form > .formRow > div {
  display: flex;
  flex-direction: row;
}
form > .formRow .interaction {
  position: relative;
  min-width: 330px;
}
form > .formRow .interaction label {
  max-width: 225px;
  margin: 0;
}
form > .formRow .interaction .interactionName {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
  padding-top: 5px;
  padding-right: 10px;
  font-family: PTSansBold;
}
form > .formRow .message {
  width: 100%;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 12px;
  color: #999;
}
form textarea {
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  width: 225px;
  min-height: 50px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #dddddd;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  resize: vertical;
}
form textarea:hover {
  background-color: #d0d0d0;
}
form input:not([type="number"]),
form select,
form textarea {
  min-width: 225px;
}
form input:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 0 3px #eee;
}
form input[type="submit"] {
  align-self: flex-end;
  margin-bottom: 0;
  background-color: #499b42;
  color: #ffffff;
  text-align: center;
}
form input[type="number"] {
  width: 180px;
  margin-right: 5px;
}
form input.error,
form select.error,
form button.error,
form .rateYo.error {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.3);
}
form label.error {
  font-size: 12px;
  font-weight: normal;
  color: #c55454 !important;
}
form .automobiles .selectedAutos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5px;
  line-height: 22px;
}
form .automobiles .selectedAutos .auto {
  position: relative;
  background-color: #e1ecf4;
  border-radius: 3px;
  color: #39739d;
  padding: 3px 5px;
  padding-right: 20px;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 12px;
}
form .automobiles .selectedAutos .auto span {
  margin-right: 3px;
}
form .automobiles .selectedAutos .auto .remove {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 15px;
  height: 15px;
  background-color: #c55454;
  border-radius: 50%;
  cursor: pointer;
}
form .automobiles .selectedAutos .auto .remove::after,
form .automobiles .selectedAutos .auto .remove::before {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 6px;
  content: "";
  height: 8px;
  width: 2px;
  background-color: #ffffff;
}
form .automobiles .selectedAutos .auto .remove::before {
  transform: rotate(45deg);
}
form .automobiles .selectedAutos .auto .remove::after {
  transform: rotate(-45deg);
}
form .automobiles #addAuto {
  display: none;
  margin-top: 2px;
  margin-left: 5px;
  padding: 2px 4px;
  background-color: #499b42;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
  border: none;
}
form .rateYo {
  display: block;
  margin-top: 3px;
  margin-left: 5px;
  padding: 3px;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  h1 {
    margin: 10px 0;
  }
  form {
    max-width: 100%;
    padding: 10px 20px;
  }
  form .formRow {
    flex-direction: column;
    margin-bottom: 10px;
  }
  form .formRow .interaction {
    flex-direction: column;
    min-width: inherit;
  }
  form .formRow .interaction > label {
    min-width: 100%;
  }
  form .formRow .interaction .interactionName {
    justify-content: flex-start;
  }
  form .formRow .message {
    justify-content: flex-end;
    padding-top: 0;
  }
  form input:not([type=button]),
  form select,
  form textarea,
  form #list,
  form #toggleCategory {
    width: 100% !important;
    min-width: inherit !important;
    margin: 0 !important;
  }
  form select {
    margin-bottom: 5px !important;
  }
}
