// Libraries for the LESS
@import "variables";

// Version for a PK
#preview {
    width: 100%;
    height: 400px;
    background: url('../images/earth.png') no-repeat 50%, 
                radial-gradient(circle, #007cba, #02486b 90%);
}
#preview {
    article {
        display: flex;
        justify-content: center;
        align-items: center;

        .intro {
            text-align: center;

            h1 {
                margin-top: 50px;
                font-size: 28px;
                color: @color_white;
                text-shadow: 0 1px 0 #02486b;
            }
            
            span {
                color: #FFF;
            }
        }
    }
}

main {
    #categories {
        padding: 50px 10px;

        h2 {
            margin-bottom: 15px;
        }

        .categoriesChoose {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        
            a {
                padding: 5px;
                margin-bottom: 5px;
                font-family: PTSansRegular;
                text-align: center;
                color: #FFF;
                border-radius: 20px;
                
                span {
                    font-size: 20px;
                    font-family: PTSansBold;
                    vertical-align: middle;
                }
            }
        
            #buy {
                background-color: #339933;
                background-image: linear-gradient(to right, #339933, #237d23);
            }
            #sale {
                background-color: #ff6600;
                background-image: linear-gradient(to right, #ff6600, #d95700);
            }
        }
    }
}