@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
#photoView {
  width: 100%;
  min-height: 500px;
  height: 1px;
  background-color: #0d1216;
  overflow: hidden;
}
.contacts {
  position: fixed;
  top: 90px;
  right: 20px;
  padding: 20px;
  z-index: 3;
}
.contacts:hover .phone {
  width: 160px;
  transition: width 0.5s ease-in-out;
}
.contacts .phone {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  padding-left: 38px;
  color: #ffffff;
  font-family: PTSansRegular;
  background-color: #0088cc;
  background-image: url('../images/phone.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border-radius: 19px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
main .description .heading {
  max-width: 600px;
  margin: 0 auto;
}
main .description .heading h1 {
  margin: 0 auto;
  padding: 30px 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 24px;
  color: #1e202e;
}
main .description .heading .value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
  margin-bottom: 10px;
}
main .description .heading .value .rating {
  display: flex;
  align-items: center;
}
main .description .heading .value .rating span {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px;
}
main .description .heading .value .rating .full {
  background-image: url('../images/full.svg');
}
main .description .heading .value .rating .half {
  background-image: url('../images/half.svg');
}
main .description .heading .value .rating .empty {
  background-image: url('../images/empty.svg');
}
main .description .heading .value .price {
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: right;
  color: #d10024;
  font-family: PTSansBold;
  font-size: 22px;
}
main .description .heading .value .price sup {
  position: relative;
  top: 2px;
  left: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
}
main .description .heading .value .price sup::after {
  content: "\005F";
  position: absolute;
  top: 3px;
  left: 0;
}
main .description .brief {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #737c81;
}
main .description .brief div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 45px;
}
main .description .brief div > * {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 40px;
  position: relative;
}
main .description .brief div > *::before {
  content: " ";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  position: absolute;
  left: -23px;
}
main .description .brief .person .owner {
  margin-left: 23px;
}
main .description .brief .person .owner::before {
  background-image: url('../images/user.svg');
}
main .description .brief .person .location::before {
  background-image: url('../images/location.svg');
}
main .description .brief .person time {
  margin-right: 5px;
}
main .description .brief .person time::before {
  background-image: url('../images/clock.svg');
}
main .description .brief .act {
  justify-content: flex-end;
}
main .description .brief .act .act > * {
  margin-left: 0;
  margin-right: 40px;
}
main .description .brief .act .views::before {
  background-image: url('../images/views.svg');
}
main .description .brief .act .comments::before {
  background-image: url('../images/comments.svg');
}
main .description .brief .act .share::before {
  background-image: url('../images/share.svg');
  background-size: 16px;
}
main .description .story {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  color: #555;
}
main .description .story p {
  padding: 0 20px;
  white-space: pre-wrap;
}
@media screen and (max-width: 767px) {
  #photoView {
    min-height: 300px;
  }
  .contacts {
    top: inherit !important;
    bottom: 10px !important;
    right: 10px !important;
  }
  .description .brief {
    justify-content: space-between !important;
    padding: 3px 0;
  }
  .description .brief div {
    flex-direction: column;
    height: 100% !important;
  }
  .description .brief div > * {
    margin: 2px 0;
  }
  .description .brief .person {
    align-items: flex-start !important;
  }
  .description .brief .person > * {
    margin-left: 23px !important;
  }
  .description .brief .act {
    align-items: flex-start !important;
    flex: 0 !important;
  }
}
