// Libraries for the LESS
@import "variables";

// Version for a PK
#photoView {
    width: 100%;
    min-height: 500px;
    height: 1px;
    background-color: #0d1216;
    overflow: hidden;
}

main  {
    .description {
        .heading {
            max-width: 600px;
            margin: 0 auto;

            h1 {
                margin: 0 auto;
                padding: 30px 50px;
                padding-bottom: 10px;
                text-transform: uppercase;
                font-size: 24px;
                color: #1e202e;
            }
            .value {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 50px;
                margin-bottom: 10px;

                .rating {
                    display: flex;
                    align-items: center;
    
                    img {
                        padding-right: 3px;
                        background-color: @color_white;
                        z-index: 2;
                    }
                }

                .price {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    text-align: right;
                    color: @color_red;
                    font-family: MyriadProRegular;
                    font-size: 20px;
                    font-weight: bold;
    
                    sup {
                        position: relative;
                        top: 0;
                        left: 5px;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 14px;
    
                        &::after {
                            content: "\005F";
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }
                }
            }
        }

        .brief {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            color: #737c81;

            div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                flex-grow: 1;
                height: 45px;
            }
            
            div > * {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin-left: 40px;
                position: relative;

                &::before {
                    content: " ";
                    width: 18px;
                    height: 18px;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 18px;
                    position: absolute;
                    left: -23px;
                }
            }

            .person {
                .owner {
                    margin-left: 23px;

                    &::before {
                        background-image: url('@{path_img}user.svg');
                    }
                }
                .location {
                    &::before {
                        background-image: url('@{path_img}location.svg');
                    }
                }
                time {
                    margin-right: 5px;
                    &::before {
                        background-image: url('@{path_img}clock.svg');
                    }
                }
            }
            .act {
                .act > * {
                    margin-left: 0;
                    margin-right: 40px;
                }
                justify-content: flex-end;

                .views {
                    &::before {
                        background-image: url('@{path_img}views.svg');
                    }
                }
                .comments {
                    &::before {
                        background-image: url('@{path_img}comments.svg');
                    }
                }
                .share {
                    &::before {
                        background-image: url('../images/share.svg');
                        background-size: 16px;
                    }
                }
            }
        }
    }
}

// Version for a smartphone
@media screen and (max-width: 767px) {
    #photoView {
        min-height: 300px;
    }

    .description {
        .brief {
            justify-content: space-between !important;
            padding: 3px 0;
            
            div {
                flex-direction: column;
                height: 100% !important;
            }
            div > * {
                margin: 2px 0;
            }
    
            .person {
                align-items: flex-start !important;
            }
            .person > * {
                margin-left: 23px !important;
            }
            .act {
                align-items: flex-start !important;
                flex: 0 !important;
            }
        }
    }
}