// Libraries for the LESS
@import "variables";

// VERSION FOR PK - STYLE LIKE CARDS
main article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partCard {
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid @color_border;
    margin: 15px 15px 0 0;
    border-radius: 5px;
    width: 245px;
    height: auto;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
        transition: all .2s ease-in-out;
    }

    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 175px;
        background-color: @color_grey_light;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;

        img {
            margin: 0 auto;
            height: auto;
            width: 100%;
        }
    }

    .content {
        margin: 0;
        padding: 0 10px;
        padding-bottom: 5px;
        border: none;
    }

    .description {
        .parts {
            margin: 2px auto;
            text-align: center;

            span {
                font-size: 10px;
                line-height: 12px;
                color: @color_grey_dark;

                &:not(:last-child)::after {
                    content: " \203A";
                    font-size: 10px;
                }
            }
        }

        .primary {
            flex-direction: column;

            .caption {
                display: flex;
                flex-grow: 1;

                span {
                    display: none;
                }

                a {
                    height: 16px;
                    width: 100%;
                    color: @color_dark;
                    overflow: hidden;
                    transition: color .15s ease-in-out;

                    &:hover {
                        color: @color_red;
                        transition: color .2s ease-in-out;
                    }
                    
                    h3 {
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }
            }

            .price {
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                text-align: right;
                color: @color_red;
                font-family: MyriadProRegular;
                font-size: 20px;
                font-weight: bold;

                sup {
                    position: relative;
                    top: 0;
                    left: 5px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 14px;

                    &::after {
                        content: "\005F";
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
            }
        }

        .secondary {
            flex-direction: column;
            align-items: center;

            .rating {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: @color_border;
                    z-index: 1;
                }

                img {
                    padding-right: 3px;
                    background-color: @color_white;
                    z-index: 2;

                    &:first-child {
                        padding-left: 10px;
                    }
                    &:last-child {
                        padding-right: 10px;
                    }
                }
            }

            .automobiles {
                margin: 5px 0;
                text-align: center;
                line-height: 22px;

                span {
                    background-color: @background_tag;
                    color: @color_tag;
                    padding: 3px 5px;
                    margin-right: 2px;
                    border-radius: 3px;
                    font-size: 12px;
                }
            }
        }
    }

    .tertiary {
        .additionalInfo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            font-size: 12px;
            color: @color_grey_dark;

            .icon {
                min-width: 15px;
                height: 15px;
                margin-right: 3px;
                background-repeat: no-repeat;
                background-position: 0;

                &:nth-child(3) {
                    margin-left: 5px;
                    margin-right: 0;
                }
            }

            .icon-clock {
                background-image: url('@{path_img}clock.png');
            }

            .icon-location {
                background-image: url('@{path_img}location.png');
            }
        }
    }
}

// Version for a smartphone
@media screen and (max-width: 767px) {
    .partCard {
        margin: 10px 5px 0 10px;
    }
}


// // !OLD Version for a PK 
// .partCard {
//     margin-top: 10px;
//     display: flex;
//     flex-direction: row;

//     .photo {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 200px;
//         height: 120px;
//         background-color: @color_grey_light;
//         background-image: url('@{path_img}empty.png');
//         background-repeat: no-repeat;
//         background-position: 50%;
//         overflow: hidden;

//         img {
//             width: 100%;
//         }
//     }

//     .content {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         margin-left: 15px;
//         width: 100%;
//         border-bottom: 1px solid @color_border;
//     }

//     .description {
//         display: flex;
//         flex-direction: column;

//         .parts {
//             display: flex;
//             align-items: flex-start;

//             span {
//                 font-size: 12px;
//                 line-height: 12px;
//                 color: @color_grey_dark;

//                 &:not(:first-child) {
//                     padding-left: 2px;
//                 }

//                 &:not(:last-child)::after {
//                     content: " \203A";
//                     font-size: 10px;
//                 }
//             }
//         }

//         .primary {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;

//             .caption {
//                 display: flex;
//                 flex-grow: 1;

//                 a {
//                     height: 28px;
//                     width: 100%;
//                     color: @color_dark;
//                     overflow: hidden;
//                     transition: color .15s ease-in-out;

//                     &:hover {
//                         color: @color_red;
//                         transition: color .2s ease-in-out;
//                     }

//                     h3 {
//                         line-height: 28px;
//                         text-transform: uppercase;
//                     }
//                 }
//             }

//             .price {
//                 flex-shrink: 0;
//                 width: 100px;
//                 height: 28px;
//                 text-align: right;
//                 color: @color_red;
//                 font-family: MyriadProRegular;
//                 font-size: 20px;
//                 font-weight: bold;

//                 sup {
//                     position: relative;
//                     font-size: 14px;
//                     font-weight: normal;

//                     &::after {
//                         content: "\005F";
//                         position: absolute;
//                         top: 12px;
//                         left: 0;
//                     }
//                 }
//             }
//         }

//         .secondary {
//             display: flex;
//             flex-direction: row-reverse;
//             align-items: flex-start;
//             justify-content: space-between;

//             .rating {
//                 text-align: right;
//                 flex-shrink: 0;
//             }

//             .automobiles span {
//                 background-color: @background_tag;
//                 color: @color_tag;
//                 padding: 3px 5px;
//                 margin-right: 2px;
//                 border-radius: 3px;
//                 font-size: 12px;
//             }
//         }
//     }

//     .tertiary {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         .additionalInfo {
//             display: flex;
//             flex-direction: row;
//             align-items: flex-start;
//             margin-bottom: 2px;

//             .icon {
//                 width: 15px;
//                 height: 15px;
//                 margin-right: 5px;
//                 background-repeat: no-repeat;
//                 background-position: 50%;

//                 &:nth-child(3) {
//                     margin-left: 15px;
//                 }
//             }

//             .icon-clock {
//                 background-image: url('@{path_img}clock.png');
//             }

//             .icon-location {
//                 background-image: url('@{path_img}location.png');
//             }

//             .date, .location {
//                 font-size: 12px;
//                 color: @color_dark;
//             }
//         }
//     }
// }