// Libraries for the LESS
@import "variables";

// Version for a PK
#photoView {
    width: 100%;
    min-height: 500px;
    height: 1px;
    background-color: #0d1216;
    overflow: hidden;
}

main  {
    .title {
        width: 600px;
        margin: 0 auto;
        padding: 10px 0;
        text-transform: uppercase;
        color: #1e202e;
        background-color: #eee;
        
        h1 {
            font-size: 20px;
        }
    }
}

// Version for a smartphone
@media screen and (max-width: 767px) {
    #photoView {
        min-height: 300px;

        .arrow {
            width: 40px !important;
            height: 40px !important;
            background-size: 15px;
        }
    }
}