@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
#photoView {
  width: 100%;
  min-height: 500px;
  height: 1px;
  background-color: #0d1216;
}
#photoView .photos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#photoView .photos .arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #eee;
  background-image: url('../images/photos_arrow.png');
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  cursor: pointer;
}
#photoView .photos .arrowLeft {
  left: 30px;
}
#photoView .photos .arrowRight {
  right: 30px;
  transform: rotate(180deg);
}
#photoView .photos img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  #photoView {
    min-height: 300px;
  }
  #photoView .arrow {
    width: 40px !important;
    height: 40px !important;
    background-size: 15px;
  }
}
