@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
body {
  background-color: #eee;
}
h1 {
  margin: 20px 50px;
}
form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
form label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
form label > span {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
  padding-right: 10px;
}
form #list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 225px;
  height: 50px;
  padding: 5px;
  margin: 0 5px;
  background-color: #ddd;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px;
  border-radius: 3px;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
form #list li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
  margin-right: 5px;
  overflow: hidden;
}
form #list img {
  height: 40px;
  margin-right: 5px;
}
form #uploadImg {
  display: none;
}
form input:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 0 3px #eee;
}
form input[type="submit"] {
  align-self: flex-end;
  margin-bottom: 0;
  background-color: #499b42;
  color: #ffffff;
  text-align: center;
}
form input[type="range"] {
  width: 200px;
}
form textarea {
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #dddddd;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  resize: vertical;
}
form textarea:hover {
  background-color: #d0d0d0;
}
