@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
.mark {
  padding: 5px;
  background-color: #499b42;
  color: #ffffff;
}
.activeMark {
  padding: 5px;
  background-color: #41893a !important;
}
.mark:hover,
.activeMark:hover {
  padding: 5px;
  background-color: #41893a !important;
}
.active,
.active:hover {
  background-color: #59aed8;
  color: #ffffff;
}
.disabled,
.disabled:hover {
  background-color: #dddddd;
  opacity: 0.5;
  cursor: not-allowed;
}
body {
  background-color: #eee;
}
h1 {
  margin: 20px 50px;
}
form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
form label {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}
form label > div {
  display: flex;
  flex-direction: row;
}
form label .interaction {
  min-width: 330px;
}
form label .interaction .interactionName {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
  padding-top: 5px;
  padding-right: 10px;
  font-family: PTSansBold;
}
form label .message {
  width: 100%;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 12px;
  color: #999;
}
form #list {
  display: flex;
  flex-direction: row;
  width: 225px;
  height: 50px;
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  background-color: #ddd;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px;
  border-radius: 3px;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
form #list li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
  margin-right: 5px;
  overflow: hidden;
}
form #list img {
  height: 40px;
  margin-right: 5px;
}
form #uploadImg {
  visibility: hidden;
  width: 0;
  margin: 0;
  padding: 0;
}
form textarea {
  margin: 5px;
  margin-right: 0;
  padding: 5px;
  width: 225px;
  min-height: 50px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #dddddd;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  resize: vertical;
}
form textarea:hover {
  background-color: #d0d0d0;
}
form input,
form select,
form textarea {
  width: 225px;
}
form input:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 0 3px #eee;
}
form input[type="submit"] {
  align-self: flex-end;
  margin-bottom: 0;
  background-color: #499b42;
  color: #ffffff;
  text-align: center;
}
form input[type="range"] {
  width: 125px;
  height: 40px;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}
form input[type="checkbox"] {
  display: none;
}
form input.error {
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.3);
}
form label.error {
  font-size: 12px;
  font-weight: normal;
  color: #c55454 !important;
}
form .state {
  position: relative;
}
form .stateSvg {
  position: absolute;
  left: 8px;
  top: 10px;
  display: flex;
  padding: 5px;
  width: 125px;
  height: 30px;
  border-radius: 3px;
}
form .stateSvg img {
  height: 20px;
  margin-left: 3px;
}
form .auction {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 50px;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}
form .auction span {
  margin-bottom: 0px !important;
}
form .automobiles .selectedAutos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  line-height: 22px;
}
form .automobiles .selectedAutos .auto {
  position: relative;
  background-color: #e1ecf4;
  border-radius: 3px;
  color: #39739d;
  padding: 3px 5px;
  padding-right: 20px;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 12px;
}
form .automobiles .selectedAutos .auto span {
  margin-right: 3px;
}
form .automobiles .selectedAutos .auto .remove {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 15px;
  height: 15px;
  background-color: #c55454;
  border-radius: 50%;
  cursor: pointer;
}
form .automobiles .selectedAutos .auto .remove::after,
form .automobiles .selectedAutos .auto .remove::before {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 6px;
  content: "";
  height: 8px;
  width: 2px;
  background-color: #ffffff;
}
form .automobiles .selectedAutos .auto .remove::before {
  transform: rotate(45deg);
}
form .automobiles .selectedAutos .auto .remove::after {
  transform: rotate(-45deg);
}
form .automobiles #addAuto {
  display: none;
  margin: auto;
  padding: 2px 4px;
  background-color: #499b42;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
  border: none;
}
@media screen and (max-width: 767px) {
  form {
    width: 100%;
    max-width: 600px;
  }
  label {
    position: relative;
  }
  label.error {
    position: absolute;
    right: 0;
    top: -10px;
    padding: 0 3px;
    font-size: 12px !important;
    background-color: #fff;
    border-radius: 2px;
  }
  label#stateRange-error {
    position: static !important;
  }
}
