// Libraries for the LESS
@import "variables";

body {
    background-color: #eee;
}

h1 {
    margin: 20px 50px;
}

form {
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &> span {
            display: flex;
            justify-content: flex-end;
            min-width: 120px;
            padding-right: 10px;
        }
    }

    input[type="range"] {
        width: 200px;
    }

    textarea {
        margin: 5px;
        margin-right: 0;
        padding: 5px;
        width: 200px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: @button_color;
        color: @color_select;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        -webkit-appearance: none;
        -moz-appearance: none;
    
        &:hover {
            .button_hover(@button_color);
        }
    }
}

