@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
.mark {
  padding: 5px;
  background-color: #499b42;
  color: #ffffff;
}
.activeMark {
  padding: 5px;
  background-color: #41893a !important;
}
.mark:hover,
.activeMark:hover {
  padding: 5px;
  background-color: #41893a !important;
}
.active,
.active:hover {
  background-color: #59aed8;
  color: #ffffff;
}
.disabled,
.disabled:hover {
  background-color: #dddddd;
  opacity: 0.5;
  cursor: not-allowed;
}
header .leaderLinks a[href="profile.html"] span {
  color: #005580;
}
main article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
main article #menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;
  margin-top: 15px;
}
main article #menu #review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 130px;
  margin: 0 auto;
}
main article #menu #review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 30px 0 #AAA;
}
main article #menu ul {
  padding: 0;
  margin-top: 10px;
  list-style: none;
}
main article #menu ul a {
  font-family: PTSansRegular;
  color: #39739d;
}
main article #menu ul a li {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 2px;
  background-color: #eeeeee;
  border-radius: 3px;
  cursor: pointer;
}
main article #menu ul a li:hover {
  background-color: #d6e5f0;
}
main article #menu ul a li span {
  margin-right: 10px;
}
main article #menu ul .openly {
  font-family: PTSansBold;
}
main article #posts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 100%;
}
main article #posts .partCard {
  position: relative;
  width: 150px !important;
  max-height: 180px;
}
main article #posts .partCard .photo {
  height: 100px;
}
main article #posts .partCard .content .description .primary .title {
  margin-top: 5px;
}
main article #posts .partCard .content .description .primary .title h3 {
  font-size: 13px;
}
main article #posts .partCard .content .statistic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main article #posts .partCard .content .statistic span {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 40px;
  position: relative;
}
main article #posts .partCard .content .statistic span::before {
  content: " ";
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 18px;
  position: absolute;
  left: -23px;
}
main article #posts .partCard .content .statistic span:first-child {
  margin-left: 15px;
}
main article #posts .partCard .content .statistic .views::before {
  background-image: url('../images/views.svg');
}
main article #posts .partCard .content .statistic .comments::before {
  background-image: url('../images/comments.svg');
}
main article #posts .partCard .glyphicon-wrench {
  position: absolute;
  top: -5px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #999999;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
main article #posts .partCard .glyphicon-wrench:hover {
  background-color: #499b42;
  transition: background-color 0.2s ease-in-out;
}
main article #posts .partCard .withdraw {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #333333;
  border-radius: 50%;
  cursor: pointer;
}
main article #posts .partCard .withdraw:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}
main article #posts .partCard .withdraw::after,
main article #posts .partCard .withdraw::before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 8px;
  content: "";
  height: 10px;
  width: 3px;
  background-color: #ffffff;
}
main article #posts .partCard .withdraw::before {
  transform: rotate(45deg);
}
main article #posts .partCard .withdraw::after {
  transform: rotate(-45deg);
}
main article #posts .partCard .deletePost {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 250px;
  margin-top: -125px;
  margin-left: -250px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: PTSansBold;
  overflow: hidden;
  z-index: 5;
}
main article #posts .partCard .deletePost .caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #333333;
}
main article #posts .partCard .deletePost .vote {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: PTSansRegular;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
}
main article #posts .partCard .deletePost .vote .yes,
main article #posts .partCard .deletePost .vote .no {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
main article #posts .partCard .deletePost .vote .yes {
  background-color: #499b42;
}
main article #posts .partCard .deletePost .vote .no {
  background-color: #d10024;
}
main article #posts .partCard .deletePost .vote .glyphicon {
  margin-left: 10px;
}
main article #settings {
  margin: 10px;
}
main article #settings #formSettings #readyPhoto {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  background-color: #ddd;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
main article #settings #formSettings #uploadPhoto {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
main article #settings #formSettings .crop {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 105px;
  left: 50px;
  width: 322px;
  height: 355px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 4;
}
main article #settings #formSettings .crop #photoCrop {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  overflow: hidden;
  z-index: 2;
}
main article #settings #formSettings .crop .cropButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}
main article #settings #formSettings .crop .cropButtons #cancelCrop {
  margin-top: 5px;
  margin-right: 10px;
  color: #d10024;
  font-size: 12px;
  cursor: pointer;
}
main article #settings #formSettings .crop .cropButtons #getPhoto {
  display: flex;
  justify-items: flex-end;
  background-color: #499B42;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
main article #settings #formSettings #overlay {
  display: none;
}
main article #settings #formSettings #showPswdBlock {
  margin-top: 2px;
  margin-left: 5px;
  padding: 2px 4px;
  background-color: #59aed8;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
  border: none;
}
main article #settings #formSettings .hidePassword {
  display: none;
}
main article #comments {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
}
main article #comments .comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #EEE;
  font-size: 12px;
}
main article #comments .comment .userData {
  display: flex;
  flex-direction: row;
}
main article #comments .comment .userData img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 #CCC;
}
main article #comments .comment .userData .contentData {
  margin: 0 15px;
}
main article #comments .comment .userData .contentData h3 {
  font-size: 14px;
  color: #333333;
}
main article #comments .comment .userData .contentData p {
  white-space: pre-line;
}
main article #comments .comment time {
  min-width: 75px;
  color: #888;
}
@media screen and (max-width: 767px) {
  main article {
    flex-direction: column;
  }
  main article #menu {
    flex-direction: row;
    justify-content: space-between;
  }
  main article #menu #review {
    margin-left: 20px;
    min-width: 120px;
    height: 100px;
  }
  main article #menu #review img {
    width: 75px;
    height: 75px;
  }
  main article #menu ul {
    align-self: center;
    min-width: 135px;
    width: 100%;
    max-width: 200px;
    margin: 0 15px;
  }
  main article #posts .deletePost {
    max-width: 310px;
    max-height: 150px;
    margin-left: -155px !important;
    margin-top: -70px !important;
  }
  main article #settings .crop {
    position: absolute;
    top: 130px !important;
    left: 50% !important;
    margin-left: -162px !important;
  }
  main article #settings #showPswdBlock {
    max-width: 100px;
    margin: 0;
  }
}
