@font-face {
  font-family: PTSansRegular;
  src: url('../fonts/PTSansRegular.ttf');
}
@font-face {
  font-family: PTSansItalic;
  src: url('../fonts/PTSansItalic.ttf');
}
@font-face {
  font-family: PTSansBold;
  src: url('../fonts/PTSansBold.ttf');
}
@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}
.mark {
  padding: 5px;
  background-color: #499b42;
  color: #ffffff;
}
.activeMark {
  padding: 5px;
  background-color: #41893a !important;
}
.mark:hover,
.activeMark:hover {
  padding: 5px;
  background-color: #41893a !important;
}
.active,
.active:hover {
  background-color: #59aed8;
  color: #ffffff;
}
.disabled,
.disabled:hover {
  background-color: #dddddd;
  opacity: 0.5;
  cursor: not-allowed;
}
body {
  background-color: #FFF;
}
#settings {
  margin: 10px;
}
#formSettings #readyPhoto {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  background-color: #ddd;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
}
#formSettings #uploadPhoto {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
#formSettings .crop {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 105px;
  left: 50px;
  width: 322px;
  height: 355px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 4;
}
#formSettings .crop #photoCrop {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  overflow: hidden;
  z-index: 2;
}
#formSettings .crop .cropButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}
#formSettings .crop .cropButtons #cancelCrop {
  margin-top: 5px;
  margin-right: 10px;
  color: #d10024;
  font-size: 12px;
  cursor: pointer;
}
#formSettings .crop .cropButtons #getPhoto {
  display: flex;
  justify-items: flex-end;
  background-color: #499B42;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#formSettings #overlay {
  display: none;
}
#formSettings #showPswdBlock {
  margin-top: 2px;
  margin-left: 5px;
  padding: 2px 4px;
  background-color: #59aed8;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  outline: none;
  border: none;
}
#formSettings .hidePassword {
  display: none;
}
@media screen and (max-width: 767px) {
  .crop {
    position: absolute;
    top: 130px !important;
    left: 50% !important;
    margin-left: -162px !important;
  }
  #showPswdBlock {
    max-width: 100px;
    margin: 0;
  }
}
