// Libraries for the LESS
@import "variables";

// Version for a PK
html, body {
    margin: 0;
    height: 100%;
    background-color: #EEE;
    font-family: 'PT Sans', sans-serif;
}
::selection {
	background-color: @color_red;
	color: @color_white;
}
.no-padding {
    padding: 0;
}
a, a:hover, a:link, a:active, a:visited {
    color: @background_filter;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
}
article {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(45deg, @header_blue_light 10%, transparent 10%), linear-gradient(135deg, @header_blue_dark 30%, transparent 30%), linear-gradient(45deg, @header_blue_light 60%, transparent 60%), linear-gradient(135deg, @header_blue_dark 90%, transparent 90%);
    background-color: @header_blue_light;
    font-size: 16px;
    color: @color_white;

    article {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        
        img {
            height: 25px;
        }

        .leaderLinks {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            &>* {
                margin-left: 15px;

                .glyphicon {
                    font-size: 20px;
                }
            }
            
            #search {
                display: none;
                cursor: pointer;
            }
            .searching {
                width: 30px;
                height: 30px;
                padding: 5px;
                background-color: #224b7a;
                border-radius: 10px;
            }

            #profile {


                img {
                    border-radius: 50%;
                }

                .signature {
                    display: inline-block;
                    max-width: 80px;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            #marketItem {
                position: relative;
                cursor: pointer;

                #marketNav {
                    position: absolute;
                    top: 30px;
                    left: -22px;
                    display: none;
                    flex-direction: column;
                    min-width: 155px;
                    background-color: #555;
                    border: 1px solid #333;
                    border-radius: 5px;
                    z-index: 12;
    
                    a {
                        display: flex;
                        padding: 8px 10px;
    
                        &:hover {
                            background-color: #444;
                        }
    
                        img, .glyphicon {
                            margin-right: 5px;
                        }
                    }
                }
            }

            #marketName, #notifies, #profile {
                display: flex;
                align-items: center;
                padding-bottom: 3px;

                &> .glyphicon, &> img {
                    margin-right: 5px;
                }
            }
        }
    }

    a {
        color: @color_white !important;
    }
}

nav {
    position: sticky;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: @background_nav;
    color: @color_white;

    section {
        display: flex;
        flex-direction: row;
    }

    div {
        display: flex;
        height: 100%;
        padding: 0 5px;
    }

    #filterName {
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
        height: 40px;
        color: @color_grey_light;
        background-color: @background_filter;
        font-size: 18px;
        cursor: pointer;
    }

    #filterCategories {
        display: flex;
        flex-wrap: wrap;
        margin: auto 0;
        max-height: 35px;
        font-size: 14px;
        overflow: hidden;

        span {
            margin: 0 3px;
            padding: 0 3px;
            color: @color_grey_light;
            background-color: #224b7a;
            border-radius: 2px;
        }

        .boltIcon {
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('../images/bolt_grey.svg');
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 50%;
        }

        .glyphicon {
            position: inherit;
            padding-top: 3px;
        }
    }
}

main {
    min-height: 70%;
}

#back {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100px;
    height: 100%;
    padding: 20px 25px;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s ease-in-out;
    cursor: pointer;
    z-index: 2;

    &:hover {
        color: #000;
        background-color: rgba(0, 0, 0, .03);
        transition: all .3s ease-in-out;
    }
}

#overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .background_color_black(0.4);
    z-index: 3;
    visibility: hidden;
}

form {
    select, input {
        margin: 5px;
        margin-right: 0;
        padding: 5px;
        width: 200px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: @button_color;
        color: @color_select;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
    
        &:hover {
            .button_hover(@button_color);
        }
    }

    select, input[type="button"] {
        background-image: url('../images/arrow.png');
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    select option {
        background-color: @color_white;
        color: @color_dark;
    }

    // Exclude standard checkboxes for custom style && Hide a submit button 
    input[type="checkbox"], input[type="radio"] {
        display: none;
    }
    input[type="checkbox"] + span, input[type="radio"] + span {
        position: relative;
        display: inline-block;
        width: 13px !important;
        height: 13px !important;
        margin-right: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
        background-color: @color_white !important;
        background-image: none;
        border: 2px solid @button_active !important;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + span, input[type="radio"]:checked + span {
        background-color: @button_mark !important;
        border-color: @button_mark !important;

        &::after {
            position: absolute;
            content: "";
            left: 3px;
            top: -1px;
            width: 5px;
            height: 10px;
            border: solid @color_white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    input[type="radio"] + span {
        border-radius: 50%;
    }
    input[type="radio"]:checked + span {
        width: 3 !important;
        height: 6 !important;
    }
}

#pagination {
    width: 100%;
    height: 61px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #DDD;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        height: 100%;
        padding: 0;
        border-radius: 5px;
        
        a {
            color: @color_select;
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 50px;
            padding: 12px;
            border: 1px solid #AAA;
            border-radius: 5px;
            transition: all .3s ease-in-out;

            &:hover {
                color: @button_mark;
                border-color: @button_mark;
                transition: all .3s ease-in-out;
            }
        }

        .numerator {
            display: flex;
            flex-direction: row;

            li {
                margin: 0 5px;
            }
            .mark {
                border-color: @button_mark;
                font-weight: bold;

                &:hover {
                    color: @color_white;
                }
            }
            .mute {
                background-color: @button_color;
                opacity: 0.5;
                cursor: pointer;
                
                &:hover {
                    border-color: inherit;
                    color: inherit;
                    opacity: 0.5;
                }
            }
        }

        .first, .last {
            width: 100px;
        }

        .disabled:hover {
            border-color: inherit;
            color: inherit;
        }
    }
}

.equalizer {
    height: 100%;
    margin: 10px;
}
#warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    border-radius: 10px;
    border: 1px solid #DDD;
    background-color: #FFF;
    box-shadow: 0 0 25px 0 #ddd;

    img {
        width: 45px;
        margin-bottom: 20px;
    }

    a {
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: @button_mark;
        color: #FFF;
    }
}

.rateYo {
    display: flex;
    margin: auto 0;
    z-index: 1;
}
.icons {
    position: absolute;
    top: -5px;
    display: block;
    width: 18px;
    height: 18px;
    padding: 4px;
    background-color: #555;
    color: @color_white;
    border-radius: 50%;
    font-size: 10px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

footer {
    display: flex;
    width: 100%;
    background-color: @background_footer;

    article {
        display: flex;
        flex-direction: row;

        #footerContent {
            width: 100%;

            #mainLinks {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding: 30px 10px;
    
                img {
                    width: 100px;
                    height: 30px;
                }
                #footerLinks {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    ul {
                        margin: 0;
                        margin-left: 75px;
                        padding: 0;
                        list-style: none;
                        
                        a {
                            display: block;
                            padding: 5px;
                            color: #555;
                        }
                    }
                }
            }
            #copyright {
                margin: 0 10px;
                margin-bottom: 30px;
                color: #555;
            }
        }

    }
}

.chooseUser {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;

    label {
        padding-right: 15px;
        color: #555;
        cursor: pointer;

        span {
            margin-right: 0;
        }
    }
}
.stateCondition {
    display: flex;
    align-items: center;
    background-color: @color_white;
    color: #AAA;
    font-size: 20px;
}
.phone, .contacts {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 0 !important;
    margin: 10px 0;
    height: auto;
    list-style: none;

    a {
        cursor: pointer;
        font-weight: bold;
    }
}
.sold, .deleted, .draft {
    position: relative;
    opacity: .7;
}
.sold::after, .deleted::after, .draft::after {
    position: absolute;
    top: 40%;
    left: 50%;
    display: block;
    margin-left: -90px;
    padding: 0 5px;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .7);
    color: #ff3300;
}
.sold::after {
    content: 'ПРОДАНО';
}
.deleted::after {
    content: 'УДАЛЕНО';
}
.draft::after {
    content: 'ЧЕРНОВИК';
}

.validation-summary-errors {
    ul {
        padding-left: 0;
        list-style: none;

        li {
            text-align: center;
            color: #FF3300;
        }
    }
}

// @charset "utf-8";
// Version for a smartphone
@media (max-width: 767px) {
    header article .leaderLinks {
        .signature {
            display: none;
        }

        #marketName {
            padding-bottom: 5px;

            &> .glyphicon {
                margin: 0 !important;
            }
        }

        #search {
            display: flex;
        }

        #marketNav {
            position: absolute;
            left: inherit !important;
            right: -50px;
        }
    }

    nav {
        display: none;

        #filterName {
            width: 100%;
        }

        #filterCategories {
            display: none;
        }
    }

    a > #back {
        display: none;
    }

    #pagination {
        margin-bottom: 0 !important;
        padding: 15px 10px !important;
        padding-bottom: 5px !important;
        height: 100% !important;

        ul {
            flex-direction: column !important;

            li {
                padding: 10px; 
                width: 40px;
            }
        }

        .first, .last, .smartHide {
            display: none;
        }
        .numerator {
            margin: auto;
        }
    }

    footer {
        #mainLinks {
            flex-direction: column !important;

            img {
                width: 100%;
            }

            #footerLinks {
                margin: 0 !important;
                margin-top: 20px !important;
                width: 100%;

                ul {
                    margin-left: 0 !important;
                    margin-right: 30px !important;
                }
            }
        }
    }
}