// Libraries for the LESS
@import "variables";

// Version for a PK
body {
    margin: 0;
    font-family: PTSansRegular, Arial;
}
.no-padding {
    padding: 0;
}
a, a:hover, a:link, a:active, a:visited {
    color: @background_filter;
    text-decoration: none;
    font-family: PTSansBold;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: PTSansBold;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
}
article {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(45deg, @header_blue_light 10%, transparent 10%), linear-gradient(135deg, @header_blue_dark 30%, transparent 30%), linear-gradient(45deg, @header_blue_light 60%, transparent 60%), linear-gradient(135deg, @header_blue_dark 90%, transparent 90%);
    background-color: @header_blue_light;
    font-size: 16px;
    color: @color_white;

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            height: 25px;
        }

        .leaderLinks {
            display: flex;
            flex-direction: row;

            a {
                margin-left: 15px;
            }
            
            #search {
                display: none;
                cursor: pointer;
            }
        }
    }

    a {
        font-family: PTSansRegular !important;
        color: @color_white !important;
    }
}

nav {
    position: sticky;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 46px;
    background-color: @background_nav;
    font-size: 16px;
    color: @color_white;

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    div {
        display: flex;
        height: 100%;
        padding: 0 5px;
    }

    #filterName {
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
        height: 46px;
        color: @color_grey_light;
        background-color: @background_filter;
        font-size: 18px;
        cursor: pointer;
    }

    #filterCategories {
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 36px;
        font-size: 12px;

        span {
            margin: 0 3px;
            color: @color_grey_light;

            &:not(:last-child)::after {
                content: "\203A";
                color: @color_grey_light;
                padding-left: 6px;
            }
        }
    }
}

#back {
    position: fixed;
    top: 35px;
    left: 0;
    width: 100px;
    height: 100%;
    padding: 20px 25px;
    color: #555;
    font-family: PTSansRegular;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s ease-in-out;
    cursor: pointer;
    z-index: 2;

    &:hover {
        color: #000;
        background-color: rgba(0, 0, 0, .03);
        transition: all .3s ease-in-out;
    }
}

form {
    select, input {
        margin: 5px;
        margin-right: 0;
        padding: 5px;
        width: 200px;
        height: 35px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: @button_color;
        color: @color_select;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
    
        &:hover {
            .button_hover(@button_color);
        }
    }

    select, input[type="button"] {
        background-image: url('@{path_img}arrow.png');
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    select option {
        background-color: @color_white;
        color: @color_dark;
    }

    // Exclude standard checkboxes for custom style && Hide a submit button 
    input[type="checkbox"], input[type="radio"] {
        display: none;
    }
    input[type="checkbox"] + span, input[type="radio"] + span {
        position: relative;
        display: inline-block;
        width: 13px !important;
        height: 13px !important;
        margin-right: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
        background-color: @color_white !important;
        background-image: none;
        border: 2px solid @button_active !important;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + span, input[type="radio"]:checked + span {
        background-color: @button_mark !important;
        border-color: @button_mark !important;

        &::after {
            position: absolute;
            content: "";
            left: 2px;
            top: -2px;
            width: 5px;
            height: 10px;
            border: solid @color_white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    input[type="radio"] + span {
        border-radius: 50%;
    }
    input[type="radio"]:checked + span {
        width: 3 !important;
        height: 6 !important;
    }
}

footer {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: @background_footer;

    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.rateYo {
    display: flex;
    margin: auto 0;
}

// Version for a smartphone
@media (max-width: 767px) {
    header article {
        a span {
            display: none;
        }

        .leaderLinks #search {
            display: flex;
        }
    }
    nav {
        display: none;

        #filterName {
            width: 100%;
        }

        #filterCategories {
            display: none;
        }
    }
    a > #back {
        display: none;
    }
}