// Colors of design at the site
@color_white: #FFF;
@color_grey_dark: #999;
@color_grey_light: #EEE;
@color_dark: #2B2D42;
@color_red: #D10024;
@color_tag: #39739D;
@color_border: #E3E3E3;

// Colors of filter buttons (select, input)
@button_color: #DDD;
@button_mark: #318631;
// Mixin for button:hover
.button_hover(@button_color) {
    background-color: darken(@button_color, 5%);
}
.button_active(@button_color) {
    background-color: darken(@button_color, 10%);
}

// Only background colors
@background_tag: #E1ECF4;
@background_nav: #33649F;
@background_filter: #224B7A;
@background_footer: #DDD;

// The header gradient colors 
@header_blue_light: #26A2DB;
@header_blue_dark: #249CD2;

// Path to files
@path_img: '../images/';
@path_font: '../fonts/';

// Fonts of caption and another text
@font-face {
    font-family: PTSansRegular;
    src: url('@{path_font}PTSansRegular.ttf');
}
@font-face {
    font-family: PTSansItalic;
    src: url('@{path_font}PTSansItalic.ttf');
}
@font-face {
    font-family: PTSansBold;
    src: url('@{path_font}PTSansBold.ttf');
}
@font-face {
    font-family: MyriadProRegular;
    src: url('@{path_font}MyriadProRegular.ttf');
} 