// Colors of design at the site
@color_white: #FFF;
@color_grey_dark: #999;
@color_grey_light: #EEE;
@color_dark: #2B2D42;
@color_red: #D10024;
@color_orange: #FF6600;
@color_tag: #39739D;
@color_border: #E3E3E3;
@color_select: #333;


// Colors of filter buttons (select, input)
@button_color: #DDD;
@button_active: #59AED8;
@button_mark: #499B42;
// Mixin for button:hover
.button_hover(@button_color) {
    background-color: darken(@button_color, 5%);
}

// Mixins for transparent colors
.box_shadow_white(@value, @width: 10px) {
    box-shadow: 0 0 0 @width rgba(255, 255, 255, @value);
}
.background_color_black(@value) {
    background-color: rgba(0, 0, 0, @value);
}
.background_color_green(@value) {
    background-color: rgba(73, 155, 66, @value);
}

// Only background colors
@background_tag: #E1ECF4;
@background_nav: #33649F;
@background_filter: #224B7A;
@background_footer: #DDD;

// The header gradient colors 
@header_blue_light: #26A2DB;
@header_blue_dark: #249CD2;

// Path to files
@path_img: '../images/';
@path_font: '../fonts/';

// Fonts of caption and another text
@font-face {
    font-family: PTSansRegular;
    src: url('@{path_font}PTSansRegular.ttf');
}
@font-face {
    font-family: PTSansItalic;
    src: url('@{path_font}PTSansItalic.ttf');
}
@font-face {
    font-family: PTSansBold;
    src: url('@{path_font}PTSansBold.ttf');
}
@font-face {
    font-family: MyriadProRegular;
    src: url('@{path_font}MyriadProRegular.ttf');
} 

// Classes for jQuery -> "filter_action.js"
.mark {
    padding: 5px;
    background-color: @button_mark;
    color: @color_white;
}
.activeMark {
    padding: 5px;
    .button_hover(@button_mark) !important;
}
.mark:hover, .activeMark:hover {
    padding: 5px;
    .button_hover(@button_mark) !important;
}
.active, .active:hover {
    background-color: @button_active;
    color: @color_white;
}
.disabled, .disabled:hover {
    background-color: @button_color;
    opacity: 0.5;
    cursor: not-allowed;
}